# ✅ Ignore Virtual Environment
/.venv/
!/airflow_venv/  # Include airflow venv

# ✅ Ignore Log Files
/logs/
/tests/logs/
/workflows/logs/

# ✅ Ignore Specific Log Files
/workflows/logs/db_writer.log
/workflows/logs/etl_pipeline.log
/workflows/logs/file_reader.log
/tests/logs/file_reader.log
/workflows/logs/transformer.log
/workflows/logs/generate_large_dataset.log

# ✅ Ignore IDE and Config Files
/.idea/
/.idea/material_theme_project_new.xml
/.vscode/

# ✅ Include Source Files
!/source/
/.trunk/
