pyspark~=3.5.5
pytest~=7.4.4
PyYAML~=6.0.2
pip~=25.0.1
colorlog~=6.9.0
wheel~=0.45.1
PySocks~=1.7.1
protobuf~=5.29.3
pyOpenSSL~=24.3.0
cryptography~=44.0.2
lxml~=5.1.1
tornado~=6.4.2
keyring~=25.6.0
setuptools~=75.8.2
future~=1.0.0
docutils~=0.20.1
apache-airflow~=2.10.5
requests~=2.32.3
sqlalchemy~=1.4.54
faker~=37.0.0
jmespath~=1.0.1
dnspython~=2.7.0
trio~=0.24.0
idna~=3.10
httpcore~=1.0.7
httpx~=0.28.1
anyio~=4.8.0
h11~=0.14.0
style~=1.1.6
attrs~=25.3.0
pillow~=10.2.0
filelock~=3.17.0
redis~=5.2.1
cffi~=1.17.1
dill~=0.3.9
numpy~=1.26.4
grpcio~=1.71.0
Mako~=1.3.9
babel~=2.17.0
pygments~=2.19.1
MarkupSafe~=3.0.2
jinja2~=3.1.6
python-slugify~=8.0.4
py4j~=0.10.9.7
pytz~=2025.1
rich~=13.9.4
markdown-it-py~=3.0.0
multidict~=6.1.0
propcache~=0.3.0
zipp~=3.21.0
exceptiongroup~=1.2.2
sniffio~=1.3.1
outcome~=1.3.0.post0
Werkzeug~=2.2.3
click~=8.1.8
blinker~=1.9.0
itsdangerous~=2.2.0
zstandard~=0.23.0
mdurl~=0.1.2
fsspec~=2025.3.0
universal-pathlib~=0.2.6
lockfile~=0.12.2
python-daemon~=3.1.2
aiohttp~=3.11.13
yarl~=1.18.3
limits~=4.2
Deprecated~=1.2.18
packaging~=24.2
pymongo~=4.11.2
six~=1.17.0
psutil~=7.0.0
async-timeout~=5.0.1
gunicorn~=23.0.0
aiosignal~=1.3.2
frozenlist~=1.5.0
python-multipart~=0.0.20
aiohappyeyeballs~=2.6.1
Flask~=2.2.5
tenacity~=9.0.0
google-re2~=1.1.20240702
graphviz~=0.20.3
pendulum~=3.0.0
celery~=5.3.6
kubernetes~=29.0.0
termcolor~=2.5.0
Flask-AppBuilder~=4.5.3
Flask-Caching~=2.3.1
lazy-object-proxy~=1.10.0
rich-argparse~=1.7.0
tabulate~=0.9.0
wtforms~=3.2.1
ConfigUpdater~=3.2
croniter~=6.0.0
connexion~=2.14.2
setproctitle~=1.3.5
flask-limiter~=3.11.0
alembic~=1.15.1
importlib-metadata~=8.6.1
pathspec~=0.12.1
python-dateutil~=2.9.0.post0
pydantic~=2.5.3
PyJWT~=2.10.1
methodtools~=0.4.7
SQLAlchemy-JSONField~=1.0.2
asgiref~=3.8.1
pluggy~=1.5.0
Flask-Login~=0.6.3
marshmallow~=3.26.1
Flask-JWT-Extended~=4.7.1
requests-toolbelt~=1.0.0
sqlparse~=0.5.3
more-itertools~=10.6.0
pandas~=2.1.4
urllib3~=2.3.0
cron-descriptor~=1.4.5
argcomplete~=3.6.0
jsonschema~=4.23.0
importlib-resources~=6.1.3
apispec~=6.8.1
certifi~=2025.1.31
scipy~=1.13.1
pyarrow~=16.1.0
grpcio-status~=1.60.2
scikit-learn~=1.5.2
cloudpickle~=2.2.1
cachelib~=0.13.0
colorama~=0.4.6
time-machine~=2.16.0
charset-normalizer~=3.4.1
chardet~=5.2.0
wcwidth~=0.2.13
regex~=2024.11.6
aiosqlite~=0.21.0
clickclick~=20.10.2
decorator~=5.2.1
inflection~=0.5.1
swagger-ui-bundle~=1.1.0
pycparser~=2.22
wrapt~=1.17.2
referencing~=0.36.2
rfc3339-validator~=0.1.4
jsonschema-specifications~=2024.10.1
uc-micro-py~=1.0.3
tomli~=2.0.2
autocommand~=2.2.2
inflect~=7.3.1
typeguard~=4.3.0
platformdirs~=4.3.6
PyMySQL~=1.1.1
linkify-it-py~=2.0.3
ordered-set~=4.1.0
Django~=4.2.20
wirerope~=1.0.0
mdit-py-plugins~=0.4.2
prison~=0.2.1
SQLAlchemy-Utils~=0.41.2
eval-type-backport~=0.2.2